@import url(fira.css);

body {
    color: black;
    background-color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 3rem;
}

h1 {
    color: darkgrey;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 4rem;
}

p {
    color: darkgrey;
    text-align: center;
    font-family: "Fira Mono", monospace;
    font-size: 1rem;
    line-height: 1.5rem;
}